@import "../../static/scss/colors";
@import "../../static/scss/mixin";

.landingPage {
  height: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .logo {
    width: 50%;
  }
  .subtitle {
    font-size: 45px;
    text-align: center;
    margin: 4% 0;
  }
  .searchWrap {
    height: 80px;
    width: 50%;
    border-radius: 20px;
    border: 1px solid $border-color;
    display: flex;
    overflow: hidden;
    .input {
      flex: 1;
      border: none;
      background: none;
      padding: 0 40px;
      font-size: 24px;
    }
    .btnGo {
      width: 70px;
      background: $app-color;
      display: flex;
      justify-content: center;
      align-items: center;
      .icon {
        height: 25%;
        width: auto;
      }
    }
  }
  @include mdportrait {
    .logo {
      width: 80%;
    }
    .subtitle {
      font-size: 14px;
      margin: 6% 0;
    }
    .searchWrap {
      height: 50px;
      width: 80%;
      border-radius: 12px;
      .input {
        padding: 0 20px;
        font-size: 16px;
      }
      .btnGo {
        width: 40px;
        background: $app-color;
        display: flex;
        justify-content: center;
        align-items: center;
        .icon {
          height: 25%;
          width: auto;
        }
      }
    }
  }
}
